<!DOCTYPE html>
<%- include("./components/header.ejs") %>

<body>
	<%- include("./components/navbar.ejs") %>
	<div class="midle">
		<div class="info">
			Here is a simple "Notes" project<br>
			Register to start!
		</div>
	</div>
</body>